body {
  font-family: "Open Sans", Verdana, sans-serif;
  background: #0F0F0F;

}
h1{
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  background: #EFEFEF;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
section{
  max-width: 800px;
  margin: auto;
}